* {
  margin:0;
  padding:0;
    box-sizing:initial;
  }
  .scrollToTop-btn{
    z-index: 999;
    position: fixed;
    
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar{
 width:100%;
 display:flex;
 align-items:center;
  }
  
 
  .about .flex-item-right .col-right{
    flex: 100%;
   position:relative;

  }
  
  .flex-item-left  {
    float: left;
    width: 30%;
    
    flex:30%;
   
  }
  .img-card img{
 width:100%;
  }
  
  .flex-item-right {
    
    flex: 70%;
    position:relative;
    display:flex;
    
    align-items:center;
  }
  .columnrr {
    
    flex-basis: 65%;
    display:flex;
    text-align: justify;
    align-items:center;
  }
  .column1{
    float: left;
    width: 35%;
    padding: 0 10px;
    
  }
  
  .flex-container {margin: 5 -5px;
  display:flex;
justify-content:space-between;
align-items:center;
margin:10px 0;
  flex-direction:row;
}
  
  .flex-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .card {
    
    text-align: center;
    background-color: #f1f1f1;
  }
  .card-1 {
    
    text-align: center;
    background-color: none;
  }
 
  
  @media only screen and (max-width: 600px) {
    .flex-item-left{
      width: 100%;
     
      margin-bottom: auto;
    }
    .flex-container {
      flex-direction: column;
    }
    nav ul {
      width:100%;
     
    }
    nav ul li {
      display:flex;
      
    }
  }
  
 .contact {
    display:70%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .contact  .row{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .contact .content .row {
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  .contact .content .row {
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .contact .content .row {
    transform: translateY(-10px);
  }
  
  .contact .content .row {
    text-align: center;
  }
  
  .contact  .row  h3{
    color: #111;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 1px;
  }
  
  .contact .content .row  span{
    color: #666;
    font-weight: 500;
  }
  
  .contact-form{
    background: #fff;
    max-width:600px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  }
  
  .contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form  input, textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
  }
  
  .contact-form .input-box .send-btn{
    color: #fff;
    background: #0a47f0;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .contact-form  .send-btn:hover{
    background: #5882f8;
  }
  .footer-t{
    font-size: 20px;
    font-weight: 700;

  }
  .work .row .column1 .card-1 .card-img img:hover{
    transform: scale(1.1);
    align-items: center;
    
  }
  
  .footer p{
    font-size: 16px;
    margin-top: 10px;
  }


.img-card {
  height:250px;
  width:auto;position:relative;
 
  object-fit: scale-down;
}

#bg{
  background-image: url('./bg.jpeg');
   width:100%;
    background-repeat: no-repeat;
    background-size: 580px 339px;
background-color:black;


}

h1{
     font-family: 'Artifika';font-size: 50px;
    
     color:white;
     position:relative;
    
  }
 
.sym{
color:white;
}

#col-right{

font-weight:500;
text-align: justify;

}
section{
padding: 100px 120px;
min-height:600px;
}
#edu{
color:#01090f;


}
.e-head{
font-weight:700;

}


.w {
text-align:justify;
color:rgb(255, 255, 255);

}
#wimages{
top:200px;
}
#p{
text-align:left;
}
span{
font-weight:500;
}
